<footer>
   <div class="footavatar">
     <img src="{{ "/images/photo.jpg" | prepend: site.baseurl }}" class="footphoto">
     <ul class="footinfo">
       <p class="fname"><a href="#" >青轻飞扬</a>  </p>
       <p class="finfo">性别：女 年龄：25岁</p>
       <p>现居：四川成都</p></ul>
   </div>
   <section class="visitor">
     <h2 class ="visitors">最近访客</h2>
      <ul>
        <li><a href="#"><img src="{{ "/images/s0.jpg" | prepend: site.baseurl }}"></a></li>
        <li><a href="#"><img src="{{ "/images/s1.jpg" | prepend: site.baseurl }}"></a></li>
        <li><a href="#"><img src="{{ "/images/s2.jpg" | prepend: site.baseurl }}"></a></li>
        <li><a href="#"><img src="{{ "/images/s3.jpg" | prepend: site.baseurl }}"></a></li>
        <li><a href="#"><img src="{{ "/images/s5.jpg" | prepend: site.baseurl }}"></a></li>
        <li><a href="#"><img src="{{ "/images/s6.jpg" | prepend: site.baseurl }}"></a></li>
        <li><a href="#"><img src="{{ "/images/s7.jpg" | prepend: site.baseurl }}"></a></li>
        <li><a href="#"><img src="{{ "/images/s8.jpg" | prepend: site.baseurl }}"></a></li>
      </ul>
   </section>
   <div class="Copyright">
     <ul>
       <a href="#">帮助中心</a><a href="#">空间客服</a><a href="#">投诉中心</a><a href="#">空间协议</a>
     </ul>
     <p>Design by DanceSmile</p>
   </div>
 </footer>